* {
  box-sizing: border-box;
}

* .child {
  padding: 0;
  margin: 0;
}

.top-header a {
  color: rgb(255, 255, 255);
  text-decoration: none;

}

.top-header {
  background-color: #266e99;
  
}

.text-right {
  text-align: end;
}

b {
  padding: 0 5px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

img {
  height: 2em;
}

.migratorii {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

span a:first-child {
  font-size: 0.6rem;
}

span a:nth-child(2) {
  font-size: 0.8rem;
}

span a:last-child {
  font-size: 1rem;
}
.search-icon {
  font-size: small;
  opacity: 0.7;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 0px 10px;
  position: sticky;
  background-color: white;
  top: 0;
  bottom: 0;
  z-index: 999;
  box-shadow: 0 0 4px 1px rgba(41, 41, 41, 0.25);
}

.navbar-brand {
  padding: 10px;
  display: inline;
}

.navbar-items {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-items a {
  max-width: 110px;
  color: #266e99;
  text-decoration: none;
  padding: 0 10px;
  text-align: center;
  align-content: center;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border-right: 2px solid #266e99;
}
.navbar-items a:last-child {
  border-right: none;
}

.navbar-toggle {
  display: none;
}

.navbar-icon {
  color: #266e99;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 831px) {
  .navbar-items {
    display: none;
    flex-direction: column;
    text-align: left;
    width: auto;
    padding: 10px 10px;
  }

  .navbar-items a {
    margin: 10px 10px;
    border: none;
    border-left: 2px solid #266e99;
    height: 2.5rem;
    align-content: center;
    text-align:start ;
    
  }

  .navbar-toggle:checked + .navbar-icon ~ .navbar-items {
    display: flex;
  }

  .navbar-toggle:checked + .navbar-icon {
    color: grey;
    font-size: 1.25rem;
  }

  .navbar {
    display: block;
    padding: 10px 10px;
  }

  .navbar-icon {
    float: right;
    position: relative;
  }

  .navbar-brand {
    padding-left: 40%;
  }
}

@media screen and (min-width: 831px) {
  .navbar-icon {
    display: none;
  }
}

.banner {
  background-image: url("https://api.pmb.ro/storage/sliders/December2021/R5KWOQbDs2fYhQ1cOZTs.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
}

.section-one .continut {
  position: relative;
  top: -50px;
}

@media screen and (max-width: 1200px) {
  .banner {
    height: 250px;
  }

  .section-one .continut {
    position: relative;
    top: -40px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: 200px;
  }

  .section-one .continut {
    position: relative;
    top: -30px;
  }
}

@media screen and (max-width: 576px) {
  .banner {
    display: none;
  }

  .section-one .continut {
    padding-top: 80px;
  }
}

.section-one {
  height: auto;
  background-color: #266e99;
}

.section-one a {
  text-decoration: none;
  color: #266e99;
  padding-bottom: 10px;
}

.section-one .continut .card {
  border-radius: 0;
  max-width: 300px;
  margin: 0;
}

.section-one .card:hover {
  background-color: #f7f7f7;
}

.continut-2 .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.continut-2 h3 {
  display: inline;
  color: white;
  padding-left: 5%;
  line-height: 2em;
}

.box {
  width: calc(33% - 10px);
  background-color: white;
}

@media screen and (max-width: 768px) {
  .continut-2 .container .box3 {
    display: none;
  }

  .box {
    width: calc(50% - 10px);
    background-color: white;
  }

  .continut-2 h3 {
    text-align: center;
  }
}

.image-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.box1 .image-container {
  position: relative;
  max-width: auto;
  height: 200px;
  background-image: url("https://api.pmb.ro/storage/press-releases/April2024/hISFQXd6OKrSmCDwDXcQ.jpg");
  background-size: cover;
  background-position: top center;
}

.box2 .image-container {
  position: relative;
  max-width: auto;
  height: 200px;
  background-image: url("https://api.pmb.ro/storage/press-releases/April2024/q3Z98cafn2S7hLzTW4KP.jpg");
  background-size: cover;
  background-position: top center;
}

.box3 .image-container {
  position: relative;
  max-width: auto;
  height: 200px;
  background-image: url("https://api.pmb.ro/storage/press-releases/April2024/7M3UafrP5MX9UwSnYN4m.jpg");
  background-size: cover;
  background-position: top center;
}

.box .overlay {
  max-height: 50%;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  color: inherit;
  font-size: 12px;
}

.title {
  font-size: 1.2em;
  margin: 0;
}

.link-button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.link-button {
  display: inline-flex;
  align-items: center;
  width: 84%;
  padding: 4px 20px;
  background-color: #266e99;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid white;
  border-radius: 0;
  font-size: 0.8rem;
}

.button-text {
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.link-button i {
  margin-left: auto;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.link-button:hover i {
  opacity: 1;
}

#doi {
height:1000px;
background-color: rgb(9, 3, 63);
color:lightblue;
}

.section-two {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  column-gap: 10px;
  width: 100%; 
  margin: 0 auto;
  padding: 20px; 
}

.left-content, .right-content {
  
  
  padding: 20px 0px;
  
}

@media (max-width: 768px) {
  .section-two {
      grid-template-columns: 1fr; 
  }
}
.section-two .left-middle {
  background-image: url("https://api.pmb.ro/storage/mayor-pages/March2024/FI1EELWLZ1KDKtDIfaha.jpg");
  background-size: cover;
  background-position: center;
  width:100%;
  position:relative;
  padding-top: 43.9%;
  margin-bottom: 20px;
}
.section-two .left-middle .left-middle-content{
  
  display:grid;
  grid-template-columns: 2fr 1fr;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
 
}

@media (max-width: 340px) {
  .section-two .left-middle .left-middle-content{

    grid-template-columns: 11fr 9fr;
  }
}


.left-title-wrapper  .left-link  span, .right-title-wrapper  .right-link  span {
  font-size: 25px;
  color:#266e99;
  font-weight: 500;
}
.left-title-wrapper, .right-title-wrapper {
  margin: 20px 0px;
}
.left-title-wrapper  .left-link, .right-title-wrapper .right-link{
  text-decoration: none;
}

.section-two .left-middle .left-middle-content .left-middle-title {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #266e99;
  
}
.section-two .left-middle span {
  font-size: small;
  font-weight: 500;
}

.section-two .link-button-container {
  display: flex;
  justify-content: left;
  padding-bottom: 20px;
}
.section-two .link-button-container .link-button {
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  
  max-width: 500px;
  font-size: 0.8rem;
  background-color: white;
  color:#266e99;
  border: 1px solid lightgrey;
}
.section-two  .link-button-container .button-text{
  
  overflow: hidden;
  text-overflow: ellipsis;
  color:#266e99;
  font-weight: 600;
  font-family:  "Open Sans", sans-serif; 
}
.section-two .link-button-container i {
  color:lightgrey;
  opacity: 1;
  
}

.section-two .link-button-container:hover i{
  color:#266e99;
  
}
.section-two .link-button-container:hover .button-text {
  color:#1c4e6c
}
.section-two .left-middle .link-button-container{
  display: inline-block;
}
.section-two .left-middle .link-button-container .link-button {
  width: auto;
  padding: 4px;
  border-radius: 5px;
  border: 2px solid #266e99;
}
.section-two .left-middle .link-button-container:hover .link-button{
  background-color: #266e99;
  
}
.section-two .left-middle .link-button-container:hover a span {
  color:white;
}
