* {
  box-sizing: border-box; }
  * .child {
    padding: 0;
    margin: 0; }

.navbar {
  background-color: #0f1e2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }

.navbar-brand, .navbar-items, .navbar-select {
  display: inline; }

.navbar-brand {
  padding: 20px; }

.navbar-items {
  display: flex; }

.navbar-items a {
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold; }

.navbar-toggle {
  display: none;
  /* Hide by default */ }

.navbar-icon {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer; }

.navbar-title {
  text-align: center;
  color: white;
  background-color: #0f1e2c; }

h6 {
  color: #858d95;
  font-size: 14px; }

h1 {
  padding-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px; }

@media screen and (max-width: 768px) {
  .navbar-items {
    display: none;
    flex-direction: column;
    text-align: left;
    width: auto;
    padding: 10px 10px; }
  .navbar-items a {
    margin: 10px 0; }
  .navbar-toggle:checked + .navbar-icon ~ .navbar-items {
    display: flex; }
  .navbar-toggle:checked + .navbar-icon {
    color: red; }
  .navbar {
    display: block; }
  .navbar-icon {
    float: right; } }

@media screen and (min-width: 769px) {
  .navbar-icon {
    display: none;
    /* Hide hamburger icon at larger screen sizes */ } }

@media screen and (max-width: 850px) {
  .navbar-select {
    display: none; } }

h3 {
  font-size: 24px;
  letter-spacing: 1.5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 40px;
  font-weight: bold; }

section:nth-child(even) {
  background-color: #eff5f5;
  padding: 20px;
  margin-bottom: 20px; }

footer {
  background-color: #0f1e2c; }

.card-text {
  font-weight: bold;
  color: #445566; }

.card {
  box-shadow: 0 1px 5px rgba(146, 157, 162, 0.5); }

.btn-warning {
  margin: 50px 40px;
  color: #fff;
  font-weight: bold; }

.fa-chevron-right {
  background-color: orange; }

.newsletter-p {
  font-weight: bold;
  text-align: center;
  color: #778899; }

#nume, #email {
  box-shadow: 1px 6px 12px #cdd; }
